.services {
   background-color:#2C51FF;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.servTitle {
    text-align: center;
    color:white;
    margin-top: 30px;;
}

.servTitle h6 {
    color:gold;
}
.icons i {
    font-size: 20px;
}

.icons {
    display: flex;
    font-size: 10px;
    height: 150px;
    text-align: center;
    margin:30px 20px;
}

.icons a {
    height: 20px;
    width:20px;
}

.backIcon {
    background-color:#FFFFFF;
    border-radius: 50%;
    height: 55px;
    width:55px; 
    display:flex;
    justify-content: center;
    align-items: center;
}
.iconText {
    margin: 5px 15px;
    color:#FFFFFF;
    width:100%;

}

.iconText p {
    opacity: 0.5;
}

.iconText h1 {
    margin-bottom:5px;
    color:white;
}

.responsive,
.favorited, 
.redesigned, 
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorited .iconText i {
    font-size:10px;
}




@media screen and (min-width:320px) and (max-width:600px){

    .backIcon {
        height:35px;
        width:35px;
    }

    .iconText {
        font-size:0.7em;
    }

    .favorited .iconText i {
        font-size: 0.7em;
    }

    .icons i {
        font-size: 1.6em;
    }

    .icons {
        margin:0px 10px;
    }

    
}