.space {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F8F9FA;
}
.text{
    text-align: center;
    margin:10px;
}

.text h1{
    font-size: 1.2em;
}

.text h4 {
    font-size: 0.6em;
    color:#9A9F96;
    margin:10px;
}

.btnOffer {
    color:#FFFEFA;
    text-align:center;
    height:40px;
    width: 100px;
    font-size:10px;
    background-color: #343A40;
    border:none;
    border-radius: 4px;
    margin:20px 0;
}

