.welcome {
    position: relative;
    height: 400px;
    background-image: 
    url(/img/bg-callout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -220px; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button2{
    background-color:rgb(17, 128, 219);
    border:none;
    height:30px;
    width:50%;
    color:white;
    margin:20px;
    font-size: 8px;
}

@media screen and (max-width:600px){

    .welcome {
        background-position: center;
        height:300px;
    }
}

@media screen and (min-width:801px) and (max-width:960px){

.welcome {
    background-position: 0 -120px;
}
}

@media screen and (min-width:601px) and (max-width: 800px){

        .welcome {
            background-position: 0 -70px;
        }
}