.welcome {
    position: relative;
    height: 500px;
    background-image: 
    url(/heroway-html-css-master/challenges/stylish-portfolio/img/bg-callout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -220px; 
}


.welcome-Text {
    position:relative;
    top:200px;
    text-align: center;
    font-size: 1.5em;



}

.button2{
    background-color:rgb(17, 128, 219);
    border:none;
    height:30px;
    width:8%;
    color:white;
    margin:30px;
    font-size: 8px;
}